body {
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: url('../images/background.jpg') no-repeat center center fixed; background-size: cover;
color: #e5e5e5;
}

.container {
padding: 20px;
display: flex;
justify-content: center;
}

.wrapper {
display: flex;
background: #2b2b2b;
border: 1px solid #3f3f3f;
width: 900px;
padding: 15px;
border-radius: 10px;
}

.left {
width: 250px;
text-align: center;
border-right: 1px solid #555;
padding-right: 15px;
}

.profile-img {
width: 200px;
height: 200px;
border-radius: 100%;
object-fit: cover;
border: 3px solid #00fa9a;
transition: 0.3s;
}

.profile-img:hover {
transform: scale(1.05);
}

.github {
color: #6cc644;
text-decoration: none;
}

.github:hover {
color: #a8c1ff;
text-decoration: underline;
}

.facebook {
color: #1877F2;
text-decoration: none;
}

.facebook:hover {
color: #a8c1ff;
text-decoration: underline;
}

.instagram {
color: #E1306C;
text-decoration: none;
}

.instagram:hover {
color: #a8c1ff;
text-decoration: underline;
}

.right {
flex: 1;
padding-left: 20px;
}

.skills li {
background: #3a3f4f;
padding: 4px 8px;
margin: 3px;
border-radius: 4px;
display: inline-block;
}

.skills li:hover {
background: #4a5670;
transition: 0.2s;
}